.App {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.App-main {
  margin-top: 20px;
}
